*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-warning{background: #ffb607;}
.bg-danger{background:  #ff002a;}
.bg-primary{background: #007bff;}
.bg-info{background: #3db2d5;}
.bg-success{background-color: #3ab64c;}
.text-light2{color: black;}

/* Nav Section Start*/
.nav-item{
    padding: 25px 22px;
}
.nav-item:hover{
    background: #ffb607;
}
.nav-item:hover .nav-link{
    color: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    left: 0px;
    top: 90px;
    width: 250px;
    border-radius: 0;
    
}
.dropdown-item{
    font-weight: 600;
    padding-top:10px;
    padding-bottom: 10px;
}
.dropdown-item:focus,.dropdown-item:hover{
    color: #fff;
    background: #ffb607;
}

/* Nav Section End*/
/*Slide Section Start*/
.carousel-caption{
    bottom: 25rem;
}
.carousel-caption h5,.carousel-caption p{
    font-family: 'Times New Roman', Times, serif;
    font-size:  60px;
    font-weight: bold;
}
.carousel-caption p{
    font-size: 18px;
}
.carousel-item:first-child{
    animation: slideup:0.8s;
}
.carousel-item:nth-child(2){
    animation: slidedown 0.9s;
}
.carousel-indicators:{
    margin-bottom: 10rem;
}
.carousel-dark .carousel-indicators:{
    width: 20px;
    height: 20px;
    bottom: 200px;
    border-radius: 50%;
}    
@keyframes slideup{
    0%{
        transform: translateY(350px);

    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slidedown{
    0%{
        transform: translateY(-350px);
    }
    100%{
        transform: translateY(0px);
    }
}
/*Slide Section End*/

/*our feature section start*/
.ourfeature{
    position: relative;
    top:-50px;
    width: 500px;
}
@media(min-width:992px){
    .ourfeature{
        position: relative;
        top: -150px !important;
    }
}
/*our feature section end*/
/*online Learning Section start*/
.onlinelearning p{
    font-size: 14px;
    line-height: 26px;
    color: #52575e;
    font-weight: 400;
}
/*online Learning Section End*/
/*Popular Section Start*/
.popular{
    width: 100%;
    height: 520px;
    background:url(../img/class-bg.jpg);linear-gradient(rgba(25,24,24,0.5)rgba(0,0,0,0.5));
    background-size: cover;
}
.popular h1{
    font-size: 48px;
    font-weight: bold;
    font-family: 'montserrat'sans-serif;
}
.popular h1::after{
    content: "";
    width: 54px;
    height: 2px;
    background: #ddb202;
    margin-left: -26px;
    position: absolute;
    border-bottom: 5px solid #ddb202;
    bottom: -20px;
    left:50%
}
/*Popular Section End*/
/*Contact Us Section Start*/
.Contactus{
    width: 100%;
    text-align: center;
    height: 500px;
    background: url(../img/choice-bg.jpg) no-repeat top;
    background-size: cover;

}
.Contactus h2{
    font-weight: bold;
    font-size: 48px;
    color: #56225e;
}
.Contactus h2 span{
    display: block;
}
.Contactus p{
    font-weight: 500;
    font-size: 16px;
}
.Contactus a{
    font-size: 16px;
    font-weight: 600;
}
.Contactus a:hover{
    background:#000;
    transition: 0.4s linear;
}
/*Contact Us Section End*/
/*Inner header start*/
.inner header{
    width:100%;
}
/*Inner header End*/
/* photo gallary Section start */
.photo-gallery{
    width: 100%;
    background: url(../img/gallery-bg.jpg);
}
.photo-gallery h1{
    font-size: 48px;
    color: #56225e;
}
.photo-gallery a:hover{
    background: #02006D;
}
.photo-gallery .magnify img:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/magnify.png);
    z-index: 9;
}

/* photo gallary Section End */
#enroll{
    background: url(../img/enroll-bg.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
.enroll a{
    text-decoration: none;
    color: white;
    font-size: 40px;}

/* Footer Section Start */

    .text-white2{color:#bcc5d0;
        background:color#232936
    }
    
    
    
    footer li{
        list-style-type: none;
        margin-left: -30px;
        line-height: 32px;
    }
    footer .quick li:before {
        content: "\f0da";
        font-weight: 600;
        font-family: 'Font Awesome 5 Free';
        padding-right: 10px;
        color: #bcc5d0;
        font-size: 14px;
    }
    footer a{
        text-decoration: none;
        font-weight: 400;
        color:#bcc5d0;
    }
    footer a:hover{
        color: #d24882;
        transition: 0.3s all;
    }
    footer .opening li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #bcc5d0;
    }
    .abc{
        border: none !important;
    }
    footer .social{
        font-size: 20px;
        padding: 10px 17px;
        border-radius: 50%;
    }
/* Footer Section End */
